
<form method="POST" action="/profile/{{_id}}" class="needs-validation sign-form" enctype="multipart/form-data" novalidate>

  <div class="mb-3">
    <h1>Edit my profile</h1><br>
    <label for="validationCustomUsername" class="form-label">Username</label>
    <div class="input-group has-validation">
      <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" name="username" value= "{{username}}" required>
      <div class="invalid-feedback">
        Please choose a username.
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label">Email</label>
    <input class="form-control" type="text" placeholder="{{email}}" aria-label="Disabled input example" disabled> <br>

    <label for="validationCustom03" class="form-label">Phone number</label>
    <input type="tel" class="form-control" id="validationCustom03" name="phone_number" value="{{phone_number}}">
    <div class="invalid-feedback">
      Please provide a valid phone number.
    </div>
  </div>
  <div class="mb-3">
  <label for="formFile" class="form-label">Upload your image</label>
  <input class="form-control" type="file" id="formFile" name="image">
</div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Edit</button>
  </div>
  {{#if errorMessage}}
  <div>
   <p class="error-message"> {{ errorMessage }}</p>
  </div>
{{/if}}
</form>
