{{#if services}}
    <div id="services-title-label">
        <h2 id="category-name-label"><a class="link-dark" href="/">Categories</a> > <span id="category-name">{{services.0.category.name}}</span></h2>
        <p>{{services.length}} services found.</p>       
    </div>
    <div id="filter-container" class="form-check form-switch">
        <div>Order by price:</div>
        <input class="form-check-input" type="checkbox" id="filter-btn">        
    </div>
    <div id="services-container">
        {{#each services}}
            <a href="/service/{{_id}}">
                <div class="card service-box">
                    <img class="card-image-service" src="{{image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="card-top">
                            <img class="user-avatar" src="{{user_id.image}}" alt="user-avatar">
                            <h5 class="card-username">{{user_id.username}}</h5>
                        </div>
                        <p class="card-text">{{description}}</p>
                        <div class="card-bottom">
                            <div class="rate-box">
                                <img class="card-star"
                                    src="https://res.cloudinary.com/dkevcmz3i/image/upload/v1619263462/Service-Wall/star_vnwttt.svg"
                                    alt="star">
                                <p class="rate-text">{{user_id.rate}} <span>({{user_id.reviews.length}})</span></p>
                            </div>
                            <p class="card-price"><span>€ </span>{{price}}</p>
                        </div>
                    </div>
                </div>
            </a>
        {{/each}}
    </div>
{{else}}
    <div id="noservices-label-container" class="my-auto">
        <h3 id="category-name-label"> There are no services yet, try another <a class="link-dark" href="/">category</a></h3>
        <img id="empty-list" src="https://res.cloudinary.com/dkevcmz3i/image/upload/v1619273008/samples/travolta_dsi5gb.gif" alt="empty-gif">
    </div>
{{/if}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="/javascripts/apiHandler.js"></script>

<div id="protocol" class="hidden" data-protocol="{{protocol}}" data-secure="{{secure}}"></div>
<script src="/javascripts/filter.js"></script>