<div id="service-container">
    <div id="services-label">
        <h2><a class="link-dark" href="/">Categories</a> > <a class="link-dark"
                href="/categories/{{category.name}}">{{category.name}}</a></h2>
    </div>
    <div id="service-description">
        <p>{{description}}</p>
    </div>
    <div id="image-service-box">
        <img class="image-service px-0" src="{{image}}" alt="image-service">
    </div>
    <div id="user-box">
        <a class="link-dark" href="/profile">
            <div id="user-top">
                <img class="user-avatar" src="{{user_id.image}}" alt="user-avatar">
                <p id="service-username">{{user_id.username}}</p>
            </div>
        </a>
        <div class="rate-box">
            <img class="card-star"
                src="https://res.cloudinary.com/dkevcmz3i/image/upload/v1619263462/Service-Wall/star_vnwttt.svg"
                alt="star">
            <p class="rate-text">{{user_id.rate}} <span>({{user_id.reviews.length}})</span></p>
        </div>
    </div>
    <div id='map' data-location="{{location}}"></div>
    <div id="service-btn-container">
        <form action="/service/{{_id}}/book" method="GET">
            <button class="button" type="submit">Contract (€{{price}})</button>
        </form>
    </div>

</div>

<!-- Mapbox import -->
<script src="/javascripts/mapbox.js"></script>