<div id="service-book-container">
    <div id="services-label">
        <h2>What can I do for you?</h2>
    </div>
    <div id="user-box">
        <div id="user-top">
            <img class="user-avatar" src="{{service.user_id.image}}" alt="user-avatar">
            <p id="service-username">{{service.user_id.username}}</p>
        </div>
        <div class="contact-box">
            <a href="mailto:{{service.user_id.email}}">
                <img class="mail-icon" src="https://res.cloudinary.com/dkevcmz3i/image/upload/v1619360460/Service-Wall/email_rqafsa.svg" alt="mail icon">
            </a>
            <a href="tel:{{service.user_id.phone_number}}">
                <img class="phone-icon" src="https://res.cloudinary.com/dkevcmz3i/image/upload/v1619360460/Service-Wall/phone-call_mzwhgm.svg" alt="phone icon">
            </a>
        </div>
    </div>
    <div id="service-book-form">
        <form class="needs-validation service-form" id="book-form" action="/stripe/{{service._id}}" data-id="{{service._id}}" method="POST" novalidate>
            <div class="mb-3 input-group has-validation form-group">
                <label for="description-input" class="form-label">What do you need?</label>
                <textarea rows="8" type="textarea" class="form-control" id="description-input" name="description" placeholder="Describe your needs..." required></textarea>
                <div class="invalid-feedback">
                    Please type a description.
                </div>
            </div>
            <div class="mb-3 input-group has-validation form-group">
                <label for="date-input" class="form-label">When do you need it?</label>
                <input type="date" class="form-control" id="date-input" name="date" required>
                <div class="invalid-feedback">
                    Please pick a date.
                </div>            
            </div>
            <button class="button" id="checkout-button" type="submit">Pay now (€{{service.price}})</button>
            {{#if errorMessage}}
                <script>document.querySelector(".needs-validation").classList.add("was-validated");</script>
            {{/if}} 
        </form>
    </div>
</div>

<script src="/javascripts/stripe.js"></script>